* {
    box-sizing: border-box;
    /* border: 1px dotted lightpink; */
    cursor: crosshair;
}

body {
    /* border: 1px dotted rgb(230, 28, 180); */
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

main {
    /* background-image: url(/img/Frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    height: 100rem; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 2rem 2rem 0.2rem .3rem;
    margin: 0;
    /* border: 1px dotted rgb(28, 230, 95); */
}

.containerLogo {
    display: flex;
    justify-content: end;
    flex-direction: row;
    
}
.name p {
    font-family: "Doto", sans-serif;
    font-size: 1.2 rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    color: black;
    letter-spacing: .15rem; 

    padding: 0 0 0 1rem;
    margin: 1rem 0 0 0;
}
.nav {
    /* font-family: "Doto", sans-serif;
    font-size: 1.2 rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    color: black;
    letter-spacing: .15rem; 

    /*font-family: "Comme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: .06rem; */

    /*font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */

    /*font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;  */

    /* font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal; */

    /*font-family: "Monda", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */

    /*font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;  */

    font-family: "Mingzat", sans-serif;
    font-weight: 400;
    font-style: normal; 

    padding: 0 0 0 1rem;
    margin: 1rem 0 0 0;
}

.logo {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 5rem;
    height: auto;
    padding: 0;
    border: 1px dotted rgb(28, 230, 95);
}

/* ouvrir un bloc text depuis la nav avec design figma */
/* #mon-image {
    display: none;
    /* L'image est cachée au départ */
max-width: 300px;
/*} */

#image-container {
    display: none;
    /* Caché au départ */
    position: relative;
    width: max-content;
    margin-top: 20px;
}

#fond_a_propos {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: none;
    /*
    font-size: 20px;
    color: #333;
    border-radius: 15%;
    width: 28px;
    height: 28px; 
    line-height: 24px;
    text-align: center;*/
    transition: background 0.2s;
}

.close-btn:hover {
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 1em blue,
        0 0 0.12em blue;
}

/* Styles de base pour le menu */


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: end; */
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    display: block;
    /* padding: 15px 10px; */
    text-decoration: none;
    font-weight: 600;
    border-bottom: 0.15em solid transparent; /* lien qui ne bougent pas */
    transition: border-color 0.3s; /* Pour une animation fluide */
    /* transition: background-color 0.3s, color 0.3s; */
    /* border-radius: 4px; */
}

.nav ul li a:hover,
.nav ul li a:focus {
    /* color: #ffd700; */
    /* Jaune doré au survol */
    border-bottom: 0.12em solid black;
}

/* Responsive : menu vertical sur petits écrans */
@media (max-width: 600px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        /* margin: 10px 0; */
    }
}






/*-----------------------------text défilant------------------------------------------  */
.marquee-container {
    overflow: hidden;
    /* masque ce qui déborde */
    width: 100%;
    /* largeur de la fenêtre */
    padding: 20rem 0;
    box-sizing: border-box;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 5rem;
    font-family: "Doto", sans-serif;
    font-size: 1.2 rem;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    letter-spacing: .15rem;
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 .5em blue,
        0 0 0.12em blue;
    animation: defilement 11s linear infinite;
    /* Animation qui part de la droite de l'écran et sort complètement à gauche */
}

@keyframes defilement {
    0% {
        transform: translateX(80%);
    }

    /* le text est déjà un peu sur la page et défile dés l'ouverture */
    100% {
        transform: translateX(-100%);
    }

    /* Finit totalement hors écran à gauche */
}

.disparu {
    opacity: 0;
    pointer-events: none;
}