* {
    box-sizing: border-box;
    /* border: 1px dotted lightpink; */
    cursor: crosshair;
}

body {
    /* border: 1px dotted rgb(230, 28, 180); */
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}

main {
    /* background-image: url(/img/Frame1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    height: 100rem; */
}

header {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0;
    margin: 0;
    /* border: 1px dotted rgb(28, 230, 95); */
}

p {
    font-family: "Doto", sans-serif;
    font-size: 1.2 rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
    color: black;
    letter-spacing: .15rem;
    margin: 0 0 0 1rem;
}

.logo {
    width: 3rem;
    padding: 0;
    /* border: 1px dotted rgb(28, 230, 95); */
}

/* ouvrir un bloc text depuis la nav avec design figma */
/* #mon-image {
    display: none;
    /* L'image est cachée au départ */
max-width: 300px;
/*} */

#image-container {
    display: none;
    /* Caché au départ */
    position: relative;
    width: max-content;
    margin-top: 20px;
}

#fond_about {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    border-radius: 15%;
    /* width: 28px;
    height: 28px; */
    line-height: 24px;
    text-align: center;
    transition: background 0.2s;
}

.close-btn:hover {
    text-shadow: 0.02em 0.02em 0.03em white,
        0 0 1em blue,
        0 0 0.12em blue;
}

/* Styles de base pour le menu */
.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    display: block;
    /* padding: 15px 10px; */
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav ul li a:hover,
.nav ul li a:focus {
    /* color: #ffd700; */
    /* Jaune doré au survol */
    outline-offset: unset;
}

/* Responsive : menu vertical sur petits écrans */
@media (max-width: 600px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        margin: 10px 0;
    }
}